* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

::selection {
  background-color: yellow;
  color: black;
}

html, body {
  background-color: #001055;
  color: white;
}

input, textarea {
  background-color: #001055;
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
  outline: none;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #111;
}
